<%= form_with(model: token) do |form| %>
  <% if token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
        <% token.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
      <div class="field">
        <%= form.label "id группы или чата"%>
        <%= form.text_field :target_id, class: "form-control"%>
      </div>

      <div class="field">
        <%= form.label "API-ключ" %>
        <%= form.text_area(:token_use, {:class => 'form-control', size: "90x10"})%>
      </div>


      <div class="field">
        <%= form.label "Социальная сеть" %>
        <div style="height: 50px">
          <%= form.select(:social_name, %w[Telegram Vkontakte])  %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Создать токен", class: "btn btn-primary" %>
      </div>
  </div>
<% end %>
