<div class="menu">
  <div class="text-center">
    <p id="notice"><%= notice %></p>

    <p class="fs-6">
      <strong>Токен:</strong>
      <%= @token.token_use %>
    </p>

    <p class="fs-6">
      <strong>Id чат группы:</strong>
      <%= @token.target_id %>
    </p>

    <p class="fs-6">
      <strong>Соц. сеть:</strong>
      <%= @token.social_name %>
    </p>
    <div class="p-2 bd-highlight">
      <%= link_to 'Изменить', edit_token_path(@token), class: "btn btn-dark" %>
    </div>
    <%= link_to 'Выйти', tokens_path, class: "btn btn-dark" %>
  </div>
</div>